
.box {
    /* position: fixed; */
    background-color: navy;
}
.searchForm {
    font: inherit;
    padding: 8px;
    width: 480px;
    margin-left: auto;     
    margin-right: auto;
    margin-bottom: 32px;
    border-radius: 4px; 
}

#search-box:focus {
    outline-color: blue;
}

.input {
    width: 300px;
    margin-right: 10px;
}
